{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
	<h1 class="pb-3">Faire un exercice</h1>
	{% for message in app.flashes('info') %}
		<div class="alert alert-info" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
	{{ form_start(form) }}
	{% for vocable in form.vocables %}
		<div class="row">
			<div class="col-md-6">
				{{ form_row(vocable.vocable) }}
			</div>
			<div class="col-md-6">
				{{ form_row(vocable.answer) }}
			</div>
		</div>
	{% endfor %}

	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
