{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1 class="pb-3">Mon apprentissage</h1>
    {% for stat in stats %}
        <h3>J'apprends le <img class="valign-bottom" src="/img/flags/{{ stat.language.iso }}.png" alt="{{ stat.language.name }}" />&nbsp;{{ stat.language.name }}</h3>
        <ul>
            <li>J'ai {{ stat.count }} mots enregistrés</li>
            <li>Je connais {{ stat.knowledgeIn*100 }}% des mots du {{ stat.language.name }} vers le français</li>
            <li>Je connais {{ stat.knowledgeOut*100 }}% des mots du français vers le {{ stat.language.name }}</li>
        </ul>
        <p>
            <a href="{{ url('add_vocable') }}" class="btn btn-info">Ajouter un nouveau mot</a>
        </p>
        <p>
            <a href="{{ url('create_exercise', {'id': stat.id}) }}" class="btn btn-primary">Réviser mon vocabulaire</a>
        </p>
    {% endfor %}
    <p></p>
    <p>
        <a href="{{ url('learning_create') }}" class="btn btn-info">Apprendre une nouvelle langue</a>
    </p>
{% endblock %}
